# Your existing database connection string
DATABASE_URL="postgresql:/postgres"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-a-random-e"

# Google OAuth Credentials
GOOGLE_CLIENT_ID="your_google_client_id_here"
GOOGLE_CLIENT_SECRET="your_goot_secret_here"


# Email Configuration (Ethereal Local Testing)
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT="587"
SMTP_USER="your-ethereal-username@ethereal.email"
SMTP_PASS="your-ethereal-password"
EMAIL_FROM="noreply@agentic-crm.local"


# AI
GOOGLE_GENERATIVE_AI_API_KEY=""